.icon-box {
  height: 67px;

  img {
    height: 100%;
    width: auto;
  }
}

.icon-box-2 {
  height: 74px;

  img {
    height: 100%;
    width: auto;
  }
}

.spacer {
  border-bottom: 1px solid white;
  margin: 20px auto;
  width: 200px;
}
