<div class="container-md">
  <div class="flex items-center justify-center flex-wrap gap-x-5 mb-4">
    <div class="icon-box-2">
      <img src="../../../../assets/footer-icons/html-5.png" alt="HTML 5">
    </div>
    <div class="icon-box">
      <img src="../../../../assets/footer-icons/sass.png" alt="SASS">
    </div>
    <div class="icon-box">
      <img src="../../../../assets/footer-icons/ts.png" alt="TypeScript">
    </div>
    <div class="icon-box">
      <img src="../../../../assets/footer-icons/ng.png" alt="Angular">
    </div>
    <div class="icon-box">
      <img src="../../../../assets/footer-icons/node.png" alt="Node.js">
    </div>
    <div class="icon-box">
      <img src="../../../../assets/footer-icons/NestJS.svg" alt="NestJS">
    </div>
  </div>
  <nav id="footer-menu" class="d-flex justify-content-center align-items-center gap-2 mt-4 mb-3 flex-column flex-sm-row"><a
      routerLink="/it">Home</a><span class="d-none d-sm-inline"> | </span><a routerLink="/it/chi-sono">Chi sono</a><span class="d-none d-sm-inline"> | </span><a
      routerLink="/it/le-mie-skill">Le mie skill</a><span class="d-none d-sm-inline"> | </span><a routerLink="/it/i-miei-progetti">I miei
      progetti</a><span class="d-none d-sm-inline"> | </span><a routerLink="/it/contatti">Contatti</a></nav>
  <div class="spacer"></div>
  <p class="m-0 text-center">© Giulio Marinelli 2024, Tutti i diritti riservati</p>
</div>

